<div class="well">
  <div class="row-fluid">
    <div class="span6"><h3><%= collection.name %></h3></div>
    <div class="span6"><h3><%= collection.humanize_duration %></h3></div>
  </div>
</div>
<hr/>

<% if collection.problems.size > 0 %>
    <h3> Problems</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Show</th>
      </tr>
      </thead>
      <tbody>
      <% collection.problems.each do |problem| %>
          <tr>
            <td><%= link_to problem.name, problem %></td>
            <td><%= problem.score %>
            <td><%= link_to 'Show', problem %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>
<% end %>

<% if collection.code_problems.size > 0 %>
    <h3> Code Problems</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Show</th>
      </tr>
      </thead>
      <tbody>
      <% collection.code_problems.each do |code_problem| %>
          <tr>
            <td><%= link_to code_problem.name, code_problem %></td>
            <td><%= code_problem.score %>
            <td><%= link_to 'Show', code_problem %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>
<% end %>
