<% title (t 'title.edit.code_problem') %>

<ul class="breadcrumb">
  <li>
    <%= link_to ( t 'title.home' ), root_path %> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to ( t 'title.problem' ), problems_path %> <span class="divider">/</span>
  </li>
  <li class="active"><%= t 'title.edit.code_problem' %></li>
</ul>

<h3><%= t 'title.edit.code_problem' %></h3>

<%= render 'edit_form' %>

<%= link_to 'Show', @code_problem %> |
<%= link_to 'Back', code_problems_path %>
